.showroom-wrapper {
    width: 100vw;
    height: 100vh;
    pointer-events: all;
    font-family: nfs;
    color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;

    >.spinner-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    >.start-container {
        height: 100vh;
        width: 100vw;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;

        >.ltr {
            width: 100vw;
            height: 50vh;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 50vh;
            right: 0;
            -webkit-animation: ltr;
            animation: ltr;
            -webkit-animation-duration: 4s;
            animation-duration: 4s;
            -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
            position: relative;

            >.watermark {
                position: absolute;
                width: 100%;
                bottom: 8px;

                >p {
                    text-align: center;
                }
            }
        }

        >.rtl {
            width: 100vw;
            height: 50vh;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 0;
            -webkit-animation: rtl;
            animation: rtl;
            -webkit-animation-duration: 4s;
            animation-duration: 4s;
            -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
        }
    }

    >.main {
        flex: 1 1;
        display: flex;
        padding: 64px 64px 16px;

        >.stats {
            background-color: rgba(0, 0, 0, .5);
            width: 300px;
            height: 380px;
            border-top: 2px solid #e43f5a;
            padding: 16px 32px;
            display: flex;
            flex-direction: column;

            >.make-model {
                display: flex;
                font-size: 1.5em;

                >.brand-container {
                    width: 100%;
                    position: relative;

                    >.veh-class {
                        color: #f2a612;
                        position: absolute;
                        top: -16px;
                        left: -18px;
                        font-size: 3.5rem;
                    }

                    >.brand {
                        text-align: right;
                        width: 100%;
                        font-weight: 700;
                        text-transform: uppercase;
                        color: #fff;
                        margin-bottom: 4px;
                    }

                    >.name {
                        text-align: right;
                        color: #c8c6ca;
                    }
                }
            }

            >.spacer {
                flex: 1 1;
            }

            >.personalization {
                border-top: 2px solid #e43f5a;
                border-bottom: 0 !important;
            }

            >.breakdowns {
                margin-top: 8px;
                padding-bottom: 16px;

                >.breakdown {
                    margin-top: 16px;

                    >.name {
                        text-transform: uppercase;
                        text-shadow: 2px 2px #000;
                    }

                    >.value {
                        margin-top: 8px;
                        display: flex;
                        align-items: center;

                        >.bg {
                            flex: 1 1;
                            background-color: #292b2a;
                            height: 18px;
                            border: 1px solid #000;

                            >.fill {
                                height: 100%;
                                background-color: #c8c6ca;
                                transition: width .8s ease;
                            }
                        }

                        >.actual {
                            background-color: #c8c6ca;
                            color: #000;
                            padding: 4px 8px;
                            width: 38px;
                            text-align: center;
                            border: 1px solid #000;
                        }
                    }
                }
            }

            >.features {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                flex: 1 1;

                >.feature {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    min-width: 68px;
                    max-width: 68px;
                    margin: 16px 8px 0;

                    &:first-child {
                        margin-left: 0;
                    }

                    &:nth-child(4) {
                        margin-left: 0;
                    }

                    &:nth-child(3) {
                        margin-right: 0;
                    }

                    >.value {
                        padding: 16px 0;
                        background-color: #c8c6ca;
                        color: #000;
                        width: 100%;
                        font-size: 2em;
                        text-align: center;
                    }

                    >.title {
                        color: #c8c6ca;
                        background-color: #000;
                        text-align: center;
                        padding: 4px;
                        width: 100%;
                    }
                }
            }
        }

        >.selector-container {
            display: flex;
            flex-direction: column;
            flex: 1 1;
            margin-left: 32px;
            color: #c8c6ca;
            text-shadow: 2px 2px #000;

            >.class-selector {
                display: flex;
                justify-content: space-between;

                >.available-classes {
                    display: flex;
                    font-size: 2rem;

                    >.veh-class {
                        cursor: pointer;
                        margin-right: 32px;
                    }

                    >.veh-class-selected {
                        color: #f2a612;
                    }
                }

                >.price {
                    font-size: 3em;
                    color: #f2a612;
                    text-align: right;
                }
            }

            >.selector-spacer {
                flex: 1 1;
            }

            >.selector {
                width: 100%;
                font-size: 1.25em;
                display: flex;
                flex-direction: column;
                padding: 16px;

                >div {
                    flex: 1 1;
                    padding: 0 8px;
                    margin-bottom: 16px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                >.position-container {
                    font-size: 1.3em;
                }

                >.mclass-selector {
                    display: flex;

                    >.mclass {
                        margin: 0 16px;
                        padding: 4px 8px;
                        color: #c8c6ca;
                        text-shadow: 2px 2px #000;
                        cursor: pointer;

                        &:first-child {
                            margin-left: 0;
                            padding-left: 0;
                        }
                    }

                    >.mclass-selected {
                        color: #f2a612;
                    }
                }
            }
        }
    }

    >.showcase {
        width: 100%;
        padding: 4px 64px;
        display: flex;
        align-items: center;
        position: relative;
        height: 148px;
        min-height: 152px;

        >.car-container {
            height: 140px;
            min-width: 252px;
            background-color: #000;
            margin-right: 32px;
            padding: 8px 16px;
            font-size: 1.25em;
            border-bottom: 4px solid #c8c6ca;
            display: flex;
            flex-direction: column;
            position: absolute;
            transition: all .4s ease;
            background-size: 75%;
            background-position: 50%;
            background-repeat: no-repeat;

            >.top {
                text-align: right;
                color: #c8c6ca;
                position: relative;

                >.limited {
                    width: 252px;
                    height: 140px;
                    position: absolute;
                    left: -16px;
                    top: -8px;
                    background-color: rgba(0, 0, 0, .75);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #5d5d5d;
                }
            }

            >.middle {
                flex: 1 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            >.bottom {
                display: flex;
                justify-content: space-between;
                color: #c8c6ca;
            }
        }

        >.car-container-selected {
            border-bottom: 4px solid #f2a612;
            box-shadow: none;

            >.top {
                color: #f2a612;
            }
        }
    }

    >.actions {
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;

        >.btn {
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            color: #c8c6ca;
            padding: 8px;
            margin: 0 8px;
            width: 120px;
            font-size: 1.2em;
            text-align: center;
            text-transform: uppercase;
            text-shadow: 2px 2px #000;
            cursor: pointer;
        }
    }
}

@-webkit-keyframes rtl {
    0% {
        left: 100vw;
    }

    20% {
        left: 0;
    }

    80% {
        left: 0;
    }

    to {
        left: -100vw;
    }
}

@keyframes rtl {
    0% {
        left: 100vw;
    }

    20% {
        left: 0;
    }

    80% {
        left: 0;
    }

    to {
        left: -100vw;
    }
}

@-webkit-keyframes ltr {
    0% {
        right: 100vw;
    }

    20% {
        right: 0;
    }

    80% {
        right: 0;
    }

    to {
        right: -100vw;
    }
}

@keyframes ltr {
    0% {
        right: 100vw;
    }

    20% {
        right: 0;
    }

    80% {
        right: 0;
    }

    to {
        right: -100vw;
    }
}