.component-paper {
    width: 100%;
    margin-bottom: 8px;
    background-color: #30475e;
    border-bottom: 1px solid #c8c6ca;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 8px;
    color: #e0e0e0;
    position: relative;

    >.notification {
        width: 8px;
        height: 8px;
        position: absolute;
        border-radius: 100%;
        right: 8px;
        top: 8px;
    }

    >.main-container {
        display: flex;
        width: 100%;

        >.image {
            margin-right: 8px;
        }

        .details {
            display: flex;
            flex-direction: column;
            align-content: space-between;
            position: relative;
            justify-content: space-between;
            flex: 1 1;
            overflow: hidden;

            >.title {
                >p {
                    text-overflow: clip;
                    display: -webkit-box;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                }
            }
        }

        >.details {
            display: flex;
            flex-direction: column;
            align-content: space-between;
            position: relative;
            justify-content: space-between;
            flex: 1 1;
            overflow: hidden;

            >.title {
                >p {
                    text-overflow: clip;
                    display: -webkit-box;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                }
            }
        }

        >.details-aux {
            display: flex;
            align-items: center;
        }

        >.actions {
            border-radius: 4px;
            justify-content: flex-end;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(1, 1, 1, .75);
            display: none;
            z-index: 1;

            >div {
                color: #e0e0e0;
                margin: 8px 8px 0;

                &:active {
                    -webkit-filter: brightness(85%);
                    filter: brightness(85%);
                }
            }
        }

        >.actions-show {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    >.drawer {
        display: flex;
        flex-direction: column;
        padding: 8px 12px 0;
        color: #c8c6ca;

        >.item {
            padding: 4px 0;
            display: flex;
            align-items: center;
            margin-bottom: 8px;
            border-bottom: 1px solid #c8c6ca;
            text-shadow: 1px 1px #000;

            >.icon {
                margin-right: 8px;
                stroke: #000;
                stroke-width: 4;
            }

            >.actions {
                display: flex;
                margin-left: auto;

                >div {
                    color: #e0e0e0;

                    &:active {
                        -webkit-filter: brightness(85%);
                        filter: brightness(85%);
                    }
                }
            }
        }
    }
}