.app-wrapper {
    position: absolute;
    height: 80%;
    width: 85%;
    top: 10%;
    left: 9%;
    background-color: #1e1e1e;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    display: flex;
    flex-direction: column;
}

.app-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.search-input {
    margin-bottom: 3rem;

    input {
        color: #fff;
        padding: .75rem 1rem;
        background-color: #171717;
        border: 1px solid #262626;

        &:focus {
            outline: none;
        }
    }

    button {
        color: #fff;
        border: none;
        cursor: pointer;
        margin-left: .25vh;
        padding: .79rem 1rem;
        background-color: #262626;
    }
}

.user-information {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: "nav content nav";
    grid-template-columns: 1fr 1fr 1fr;

    .button {
        cursor: pointer;
        user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
    }

    .information-block {
        display: flex;
        align-items: center;
        border-radius: 5px;
        padding: 1rem 3rem;
        flex-direction: column;
        justify-content: center;
        background-color: #171717;
        border: 1px solid #262626;

        .value {
            font-size: 1.2em;
        }

        .title {
            font-size: 1em;
            margin-top: .3rem;
        }
    }

    .danger {
        color: #fb4848 !important;
    }

    .success {
        color: #9ad946 !important;
    }
}

.modal-container {
    background-color: #171717;
    border: 1px solid #262626;
    padding: 2em !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;

    .header-text {
        color: #fff;
        font-size: 1.4em;
    }

    .table-container {
        max-height: 40vh;
        margin-top: 1rem;
    }

    .loading-container {
        padding: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .empty-logs-container {
        h2 {
            color: #c7c7c7;
            text-align: center;
            font-size: 1.2em;
        }
    }
}