.jobs-container {
    .activity-container {
        height: 100%;
        width: 100%;
        opacity: 1;
        -webkit-animation: fadeinpls;
        animation: fadeinpls;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        position: relative;
        color: #fff;

        >.activity-title {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 8px 0;
            margin: 0 0 8px;
            border-bottom: 1px solid #fff;

            >.timer {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;
            }
        }

        >.task-list {
            max-height: calc(100% - 90px);
            overflow-y: scroll;
        }

        .activity-task-paper-wrapper {
            width: 100% !important;

            .activity-task-wrapper {
                display: flex;
                flex-direction: column;
                width: 100% !important;
                position: relative;

                >.checkmark-wrapper {
                    position: absolute;
                    z-index: 5;
                    top: 0;
                    right: 0;
                    height: 100%;
                    opacity: 0;
                    pointer-events: none;
                    -webkit-animation: fadeoutpls;
                    animation: fadeoutpls;
                    -webkit-animation-duration: 5s;
                    animation-duration: 5s;
                    -webkit-animation-iteration-count: 1;
                    animation-iteration-count: 1;
                }

                .task-name {
                    flex: 1 1;
                    display: flex;
                    align-items: center;
                }

                .progress {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }

                p.completed {
                    text-decoration: line-through;
                }
            }
        }

        .activity-tracked-item {
            >.bottom {
                display: flex;
                justify-content: space-between;
                margin: 8px 0;
            }

            >.top {
                display: flex;
                justify-content: space-between;
                margin: 8px 0;
            }
        }

        .MuiTimelineItem-root {
            &:before {
                flex: none !important;
                content: none !important;
            }
        }

        .MuiTimeline-root {
            padding: 0 !important;
        }

        .MuiTimelineContent-root {
            padding-right: 0 !important;
        }
    }
}